# FAILSAFE 설치 커맨드
# python 3.11은 torch 2.0 버전 이후를 지원. 그러나 위 프로젝트는 torch 1.x버전대에서 작동.
# conda create -n pororo python=3.10 -y && conda activate pororo && pip install matplotlib scikit-image jupyter wget torch==1.13.1 torchvision==0.14.1 opencv-python==4.8.1.78 Pillow==9.5.0
matplotlib
scikit-image
jupyter
wget
torch==1.13.1
torchvision==0.14.1
opencv-python==4.8.1.78
Pillow==9.5.0
